# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
/out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
/SdlTutorial
*.exe
*.out
*.app

# Qt Creator
CMakeLists.txt.user

# Intellij
.idea/
